<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ijk">

    
    <!-- <link rel="stylesheet" href="style.css"> -->

    <title>Txc Cmnt Clsfr</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(document).ready(function(){
          $("select").change(function(){
              $(this).find("option:selected").each(function(){
                  var optionValue = $(this).attr("value");
                  if(optionValue){
                      $(".box").not("." + optionValue).hide();
                      $("." + optionValue).show();
                  } else{
                      $(".box").hide();
                  }
              });
          }).change();
          var slider = $("#thr_range");
          $("#thr").html(slider.val());
          slider.change(function() {
              $("#thr").html(slider.val());
          })
      });
      
    </script>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Toxic Comment Classifier &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="features.html">Features</a>
            <a class="nav-link" href="contact.html">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <br><br>
        <h1>Final Year Project</h1>
        <h2 class="cover-heading">What we Built</h2>
        <p>Hello..! </p>
        <p>This is a web app, using Flask as a backend. We used the pretrained NLP transformer model, bert_uncased and finetuned for our need, to identify the <i>TOXIC</i> comments online.</p>
        <p>To demonstrate the use of this, we are fetching the tweets from user timeline and identifying if any toxic tweets are present.</p>
        <br>

        <form action="/output" method = "POST">
          
          <div>
            <select name="options">
                <option value="tst">Test Sample Text</option>
                <option value="twt">Identify Toxic Tweets</option>
            </select>
          </div>
          <br>
          <div class="tst box">
            <p>Enter Sample text &nbsp &nbsp <input type = "text" name = "stxt"/> </p>
          </div>
          <div class="twt box">
            <p>Enter ur Twitter UserName &nbsp &nbsp <input type = "text" name = "uname"/> </p>
            <div class="slidecontainer">
              <label> Toxic Threshold : &nbsp <span id="thr"></span></label>&nbsp
              <input type="range" min="60" max="100" value="90" class="slider" id="thr_range" step="1" name="thr">
            </div>
          </div>


          <input type="submit" name="submit" value="Submit">

        </form>

        <br>
        <p class="lead">
          <a href="https://github.com/jgdshkovi/final_yr_proj" class="btn btn-lg btn-secondary">Source Code</a>
        </p>
        <br><br>
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
              <p>Prototype of Final Yr. Project, for <a href="http://sietk.org">SIETK</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"></script>')</script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </body>
</html>
